* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  padding: 20px;
  text-align: center;
  background-color: #cdcdcd;
  display: flex;
}
body {
  width: 800px;
  margin: 0 auto;
}
h1 {
  margin-left: 30px;
}
nav {
  background-color: #454545;
  color: #fff;
  padding: 10px 0;
}
nav ul {
  list-style-type: none;
  text-transform: uppercase;
  justify-content: space-around;
  display: flex;
}
nav li:hover {
  color: aquamarine;
  font-weight: bolder;
}
nav li:active {
  background-color: aquamarine;
  font-weight: bolder;
}
#container {
  display: flex;
  justify-content: space-between;
}
#container {
  display: flex;
  justify-content: space-between;
}
#container div {
  width: 30%;
  border: 1px solid #dedede;
  padding: 10px;
}
footer {
  margin-top: 20px;
  background-color: #cdcdcd;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
#footercontainer {
  display: flex;
  justify-content: space-between;
}
#footercontainer div {
  width: 30%;
}

h2 {
  margin: 10px 0;
  text-align: center;
}
main div img {
  width: 220px;
  margin: 10px 0;
}
#copyright {
  margin-top: 10px;
  padding-top: 20px;
  border-top: 1px solid #343434;
}
footer ul li {
  list-style-type: none;
  padding: 5px 0;
}
